<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.fragmenttest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <supports-screens android:requiresSmallestWidthDp="600" />

        <activity
            android:name="activities.AddExtraCustomer"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- activity android:name=".DisplayProductTableActivity"></activity -->


        <!-- activity android:name=".StockView"></activity -->
        <!-- activity android:name="activities.PendingCustomer"></activity -->
        <!-- activity android:name="activities.AddExtraCustomer"></activity -->
        <!--activity android:name="activities.AndroidDatabaseManager"></activity-->
    </application>

</manifest>