<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ahmed.sfa">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:screenOrientation="landscape"
        android:theme="@style/AppTheme.NoActionBar">
        <supports-screens android:requiresSmallestWidthDp="600" />

        <activity
            android:screenOrientation="landscape"
            android:name="com.example.ahmed.sfa.Activities.AddExtraCustomer"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:screenOrientation="landscape" android:name=".Activities.AndroidDatabaseManager" android:windowSoftInputMode="stateHidden"/>
        <activity android:screenOrientation="landscape" android:name=".Activities.AddCustomer" android:windowSoftInputMode="stateHidden"/>
        <activity android:screenOrientation="landscape" android:name=".Activities.DisplayProductTableActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:screenOrientation="landscape" android:name=".Activities.Home" android:windowSoftInputMode="stateHidden"/>
        <activity android:screenOrientation="landscape" android:name=".Activities.StockView" android:windowSoftInputMode="stateHidden"/>
        <activity android:screenOrientation="landscape" android:name=".Activities.PendingCustomer" android:windowSoftInputMode="stateHidden"/>
        <activity android:screenOrientation="landscape" android:name=".Activities.SalesInvoice" android:windowSoftInputMode="stateHidden"/>
        <activity android:screenOrientation="landscape" android:name=".Activities.SalesInvoicePayment" android:windowSoftInputMode="stateHidden"/>
        <activity android:screenOrientation="landscape" android:name=".Activities.SalesSummaryActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:screenOrientation="landscape" android:name=".Activities.SalesReturn" android:windowSoftInputMode="stateHidden"/>
        <activity android:screenOrientation="landscape" android:name=".Activities.Invoice" android:windowSoftInputMode="stateHidden"/>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />



        <activity android:screenOrientation="landscape" android:name=".Activities.ServiceTest"></activity>
        <activity
            android:name=".Activities.InitialLogin"
            android:label="@string/title_activity_login"  android:windowSoftInputMode="stateHidden">

        </activity>

        <activity android:screenOrientation="landscape" android:name=".Activities.supportactivities.CheckIn" android:windowSoftInputMode="stateHidden">


        </activity>

        <service
            android:name=".service.SyncService"
            android:enabled="true"
            android:exported="true" />

        <activity android:screenOrientation="landscape" android:name=".Activities.ManualSync">
        </activity>

        <activity android:screenOrientation="landscape" android:name=".Activities.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>